* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.container {
    border: 0.3rem black solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.box {
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: yellow;
}
.box2 {
    background-color: blue;
}
.box3 {
    background-color: red;
}
.box4 {
    background-color: green;
}
.box5 {
    background-color: violet;
}
.box6 {
    background-color: orange;
}
