* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}
.clase1, .clase2, .clase3, .clase4, .clase5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.clase1 {
    background-color: #003476;
}
.clase2 {
    background-color: #0062d2;
}
.clase3 {
    background-color: #b4d2f7;
}
.clase4 {
    background-color: orange;
    height: auto;
}
.clase5 {
    background-color: yellow;
}

@media (min-width:600px) {
    .clase1 {
        width: 25%;
        order: 1;
    }
    .clase2 {
        width: 75%;
        order: 2;
    }
    .clase3 {
        width: 100%;
        order: 3;
    }
    .clase4 {
        width: 100%;
        order: 4;
    }
    .clase5 {
        width: 100%;
        order: 5;
    }
}
@media (min-width:800px) {
    .clase1 {
        width: 30%;
    }
    .clase2 {
        width: 40%;
    }
    .clase3 {
        width: 30%;
    }
    .clase4 {
        width: 50%;
    }
    .clase5 {
        width: 50%;
    }
}
