* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.parent {
    border: 2px black dotted;
    display: inline-block;
}
.box {
    display: inline-block;
}
#one {
    background-color: green;
    width: 150px;
    height: 50px;
    position: absolute;
    margin: 0 25px;
    object-position: center;
    border: 2px solid darkblue;
    border-radius: 10px;
    top: 0px;
}
#two {
    background-color: blue;
    width: 200px;
    height: 200px;
    position: static;
    object-position: center;
    margin-top: 25px;
    border: 2px solid darkgreen;
    border-radius: 10%;
}