* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}
.clase1, .clase2, .clase3, .clase4, .clase5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.clase1 {
    background-color: #003476;
    font-size: 1.5rem;
    color: yellow;
}
.clase2 {
    background-color: #0062d2;
    font-size: 2.5rem;
    color: yellowgreen;
}
.clase3 {
    background-color: #b4d2f7;
    font-size: 3.5rem;
}
.clase4 {
    background-color: orange;
    font-size: 4.5rem;
}
.clase5 {
    background-color: yellow;
    font-size: 5.5rem;
}
/* @media (min-width:600px) {
    .clase2, .clase3, .clase4 {
        width: 50%;
        font-size: 1.5rem;
    }
}
@media (min-width:800px) {
    .main-container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .clase1 {
        width: 60%;
    }
    .clase2 {
        width: 40%;
    }
    .clase3, .clase4 {
        width: 33%;
    }
    .clase5 {
        width: 34%;
    }
} */
